body {
  background: #f3f3f3;
  align-items: center;
  display: flex;
  justify-content: center;
}

canvas {
  background: #000;
  border: 1px solid #000;
  height: 600px;
  width: 600px;
}

video {
  display: none;
  height: 1024px;
  width: 1024px;
}